.quest-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
  align-items: stretch;
}

.quest-list h5 {
  flex: 1 0 100%;
}

.quest-card {
  flex: 1 1 33%;
  display: flex;
}

.quest-card button.task-button {
  padding: 10px;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid tomato;
  color: tomato;
  text-align: left;
}

.quest-card .encrypted {
  border-style: dashed !important;
}

.quest-card span::before {
  font-size: 2rem;
  float: left;
}

/*.task-button {*/
/*  padding: 10px;*/
/*  outline: none;*/
/*  background-color: rgba(0, 0, 0, 0);*/
/*  border: 2px solid tomato;*/
/*  color: tomato;*/
/*  text-align: left;*/
/*}*/

.quest-card .piece-of-cake::before {
  content: "\1F606";
}
.quest-card .quite-likely::before {
  content: "\1F600";
}
.quest-card .sure-thing::before {
  content: "\1F60E";
}
.quest-card .walk-in-the-park::before {
  content: "\1F60F";
}
.quest-card .gamble::before {
  content: "\1F622";
}
.quest-card .hmmm::before {
  content: "\1F61F";
}
.quest-card .risky::before {
  content: "\1F62E";
}
.quest-card .suicide-mission::before {
  content: "\1F621";
}
.quest-card .rather-detrimental::before {
  content: "\1F615";
}
.quest-card .playing-with-fire::before {
  content: "\1F616";
}



