/* font taken from dragonsofmugloar.com css */
@import "//fonts.googleapis.com/css?family=Open+Sans:300";

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 10px;
}

.debug-panel {
  border: 1px darkgray solid;
  margin-bottom: 1rem;
}

.content-wrap {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
}

.content-wrap header {
  flex: 1 1 100%;
  display: flex;
}

.content-wrap main, .content-wrap aside {
  flex: 1;
}

.content-wrap main {
  flex-grow: 2;
}

.content-wrap aside {
  flex-grow: 1;
}

.content-wrap footer {
  flex: 1 1 100%;
}

/* taken from dragonsofmugloar.com css */
.boxed {
  background: rgba(245, 245, 245, 0.9);
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
  border: 1px solid black;
  padding: 20px 20px 20px 20px;
  /*margin: 60px auto 20px auto;*/
  /*width: 100%;*/
}
.task-button {
  padding: 10px;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid tomato;
  /*font-size: 1.5rem;*/
  color: tomato;
  /*display: block;*/
  /*width: 100%;*/
  text-align: left;
  /*cursor: pointer;*/
}

dialog {
  margin: auto;
  padding: 2rem;
  width: min(640px, 33%) !important;
}

dialog h5 {
}

dialog button {
  display: inline-block !important;
  width: auto !important;
}
